<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
     <startup class="org.rowley.eclipse.notch.NotchStartup"/>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page name="Sample Preferences" class="org.rowley.eclipse.notch.pref.PreferencePage" id="org.rowley.eclipse.notch.pref.preference.page">
      </page>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rowley.eclipse.notch.pref.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
